ENVIRONMENT=development
SENDGRID_PASSWORD=replace-with-your-sendgrid-password
SENDGRID_USERNAME=replace-with-your-sendgrid-username
SECRET_KEY=replace-with-your-secret-key
DEBUG=True
POSTGRES_PASSWORD=postgres
